#principal{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#title_container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-left: 15%;
}

#title{
    font-family: var(--font-family);
    font-size: var(--title-size);
    font-weight: 500;
}

#add_task_container{
    display: flex;
    font-family: var(--font-family);
    font-size: 16px;
}

#add_task{
    cursor: pointer;
    display: flex;
    width: 260px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
    transition: all 0.2s ease;
}

#add_task:hover{
    cursor: pointer;
    display: flex;
    width: 260px;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    box-shadow: 2px 1px 15px 1px rgb(129, 129, 129);
    transform: scale(1.02);
    transition: all 0.2s ease;
    

    & #icon_container{
        padding: 0 10px 0 10px;
        color: rgb(255, 0, 0);
        background-color: rgb(219, 219, 219);
        font-size: 40px;
        border: 1px solid rgb(131, 131, 131);
        border-radius: 8px;
        z-index: +1;
    }
}

#icon_container{
    padding: 0 10px 0 10px;
    color: rgb(253, 53, 53);
    background-color: rgb(226, 226, 226);
    font-size: 40px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
    z-index: +1;
}

#text_container{
    font-family: var(--font-family);
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    padding-right: 10px;
}

.form_container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.form_task{
    background-color: rgb(221, 218, 205);
    width: 500px;
    height: 100%;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #name{
    & label{

    }

    & input{

    }
} */