.principal{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.title_container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-left: 15%;
}

#title{
    font-family: var(--font-family);
    font-size: var(--title-size);
    font-weight: 500;
}

#add_task_container{
    display: flex;
    font-family: var(--font-family);
    font-size: 16px;
    max-width: 260px;
    max-height: 50px;
}

#add_task{

    user-select: none;
    cursor: pointer;
    display: flex;
    max-width: 260px;
    max-height: 50px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
    transition: all 0.2s ease;
}

#add_task:hover{
    cursor: pointer;
    display: flex;
    width: 260px;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    box-shadow: 2px 1px 15px 1px rgb(129, 129, 129);
    transform: scale(1.02);
    transition: all 0.2s ease;
    

    & #icon_container{
        padding: 0 10px 0 10px;
        color: rgb(255, 0, 0);
        background-color: rgb(219, 219, 219);
        font-size: 40px;
        border: 1px solid rgb(131, 131, 131);
        border-radius: 8px;
        z-index: +1;
    }
}

#icon_container{
    padding: 0 10px 0 10px;
    color: rgb(253, 53, 53);
    background-color: rgb(226, 226, 226);
    font-size: 40px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
    z-index: +1;
    max-width: 45px;
}

#text_container{
    font-family: var(--font-family);
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    padding-right: 10px;
}

@media (max-width: 256px){
    #text_container{
        font-family: var(--font-family);
        height: auto;
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        padding-right: 10px;
    }
}


.form_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.form_task{
    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(165, 165, 165);
    max-width: 450px;
    min-height: 100px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: none; /* Remove o blur do formulário */
    pointer-events: auto;
    margin: 0 50px 0 50px;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
    height: 300px;

    & label{
        font-family: var(--font-family);
    }

    textarea:focus, input:focus, select:focus {
        box-shadow: 0 0 0 0;
        border: 1px solid rgb(60, 60, 60);
        outline: 0;
    } 
}

#name{
    width: 100%;
    max-width: 300px;

    & label{
        font-family: var(--font-family);
    }

    & input{
        padding: 5px 5px 5px 5px;
        font-family: var(--font-family);
        border: 1px solid rgb(60, 60, 60);
        border-radius: 12px;
        width: 150px;
        height: 20px;
        background-color: rgb(255, 255, 255);

    }
}

#desc{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 360px;

    & label{
        font-family: var(--font-family);
        margin-right: 5px;
    }

    & textarea{
        overflow: hidden;
        padding: 5px 5px 5px 5px;
        resize: none;
        font-family: var(--font-family);
        border: 1px solid rgb(60, 60, 60);
        border-radius: 15px;
        width: 150px;
        height: 50px;
        background-color: rgb(255, 255, 255);
    }
}

::-webkit-input-placeholder{
    color: rgb(0, 0, 0);
    font-weight: 500;   

    /* serve pra mudar o placeholder dos inputs */
}

#date{
    width: 100%;
    max-width: 300px;

    & label{
        font-family: var(--font-family);
        margin-left: 50px;
    }

    & input{
        padding: 5px 5px 5px 5px;
        font-family: var(--font-family);
        border: 1px solid rgb(60, 60, 60);
        border-radius: 12px;
        width: 145px;
        height: 20px;
        background-color: rgb(255, 255, 255);
    }
}

#priority{
    width: 100%;
    max-width: 300px;

    & label{
        font-family: var(--font-family);
        margin-left: 50px;
    }

    & select{
        padding: 5px 5px 5px 5px;
        font-family: var(--font-family);
        border: 1px solid rgb(60, 60, 60);
        border-radius: 12px;
        width: 155px;
        height: 30px;
        background-color: rgb(255, 255, 255);
    }
}

#folder{
    width: 100%;
    max-width: 300px;

    & label{
        font-family: var(--font-family);
        margin-left: 85px;
    }

    & select{
        padding: 5px 5px 5px 5px;
        font-family: var(--font-family);
        border: 1px solid rgb(60, 60, 60);
        border-radius: 12px;
        width: 155px;
        height: 30px;
        background-color: rgb(255, 255, 255);
    }
}

.buttons{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel_button{
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 400;
    width: 120px;
    height: 30px;
    font-size: 18px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 12px;
    background-color: rgb(244, 244, 244);
    margin: 0 10px 0 10px;
}

.create_button{
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 400;
    width: 120px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background-color: rgb(253, 53, 53);
    margin: 0 10px 0 10px;
    color: white;
}

#tasks{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check{
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 35px;
    height: 35px;
    max-width: 50px;
    max-height: 50px;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 50px;
}

.check:hover{
    .check_icon{
        color: rgb(128, 128, 128);
        font-size: 30px;
        opacity: 1;
    }
}

.clicked_check{

    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 35px;
    height: 35px;
    max-width: 50px;
    max-height: 50px;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 50px;

    .check_icon{
        color: rgb(0, 0, 0);
        font-size: 30px;
        opacity: 1;
    }
}

.check_icon{
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
    font-size: 30px;
    opacity: 0;
}

.task{
    padding: 15px 15px 15px 15px;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    min-width: 250px;
    max-width: 700px;
    min-height: 100px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
    background-color: rgb(247, 247, 247);
}

.check_container{
    margin-right: 15px;
}

.info_container{
    font-family: var(--font-family);
}

.task_name{
    font-weight: 500;
    font-size: 20px;
}

.task_desc{
    margin-top: 2vh;
    max-width: 300px;
}

.other_container{
    user-select: none;
    margin-top: 2vh;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 100%;
    /* min-width: 350px; -> arrumar esse min width*/
    max-width: 700px;
}

.final_date{
    margin-left: 6vh;
}