@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    --background-color: rgba(0, 0, 0, 0.03);
    margin: 0;
    padding: 0;
    --font-family: Inter;
    --title-size: 26px
}

html, body{
    background-color: var(--background-color);
    overflow: hidden;
    height: 100%;
}

.opacidade{
    transition: all 0.5s ease;
    filter: blur(1.5px);
    pointer-events: none;
}

.hide{
    display: none;
}

.central{
    position: relative;
    bottom: 60px;
}